//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.9 Beta-4 Education
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9
//Device Version: C
//Created Time: Fri 08 16 13:13:12 2024

IO_LOC "LED[5]" 16;
IO_PORT "LED[5]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LED[4]" 15;
IO_PORT "LED[4]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LED[3]" 14;
IO_PORT "LED[3]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LED[2]" 13;
IO_PORT "LED[2]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LED[1]" 11;
IO_PORT "LED[1]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LED[0]" 10;
IO_PORT "LED[0]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
//IO_LOC "BEEP[1]" 79;
//IO_PORT "BEEP[1]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN DRIVE=12 BANK_VCCIO=1.8;
//IO_LOC "BEEP[0]" 80;
//IO_PORT "BEEP[0]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN DRIVE=12 BANK_VCCIO=1.8;
IO_LOC "BEEP[1]" 29;
IO_PORT "BEEP[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "BEEP[0]" 30;
IO_PORT "BEEP[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "UART_TX" 17;
IO_PORT "UART_TX" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SD_CLK" 36;
IO_PORT "SD_CLK" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SD_CMD" 37;
IO_PORT "SD_CMD" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SD_DAT3" 38;
IO_PORT "SD_DAT3" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LCD_B[4]" 41;
IO_PORT "LCD_B[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_B[3]" 42;
IO_PORT "LCD_B[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_B[2]" 51;
IO_PORT "LCD_B[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_B[1]" 53;
IO_PORT "LCD_B[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_B[0]" 54;
IO_PORT "LCD_B[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_G[5]" 55;
IO_PORT "LCD_G[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_G[4]" 56;
IO_PORT "LCD_G[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_G[3]" 57;
IO_PORT "LCD_G[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_G[2]" 68;
IO_PORT "LCD_G[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_G[1]" 69;
IO_PORT "LCD_G[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_G[0]" 70;
IO_PORT "LCD_G[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_R[4]" 71;
IO_PORT "LCD_R[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_R[3]" 72;
IO_PORT "LCD_R[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_R[2]" 73;
IO_PORT "LCD_R[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_R[1]" 74;
IO_PORT "LCD_R[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_R[0]" 75;
IO_PORT "LCD_R[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_DEN" 33;
IO_PORT "LCD_DEN" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_VSYNC" 34;
IO_PORT "LCD_VSYNC" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_HSYNC" 40;
IO_PORT "LCD_HSYNC" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_CLK" 35;
IO_PORT "LCD_CLK" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "I2C_SCL" 84;
IO_PORT "I2C_SCL" PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=ON BANK_VCCIO=1.8;
IO_LOC "I2C_SDA" 85;
IO_PORT "I2C_SDA" PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=ON BANK_VCCIO=1.8;
IO_LOC "HID_UART_RX" 25;
IO_PORT "HID_UART_RX" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "UART_RX" 18;
IO_PORT "UART_RX" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "SD_DAT" 39;
IO_PORT "SD_DAT" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "BUTTON" 3;
IO_PORT "BUTTON" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "SYS_RESETN" 4;
IO_PORT "SYS_RESETN" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "XTAL_27MHZ" 52;
IO_PORT "XTAL_27MHZ" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
